@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.about {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to top, #000000 90%, rgb(95, 68, 41) 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.firstRow1 {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.about-us-title {
  font-size: 2.1rem !important;
  padding: 0.5rem 2rem;
}

.cols-text-content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  border-top: 2px solid rgb(95, 68, 41);
  border-bottom: 2px solid rgb(56, 56, 56);
  border-radius: 999999px;
  padding: 0.5rem 0rem;
}

.cols-text-content > h1 {
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
}

.secondRow1 {
  padding: 5rem 0rem;
}

.secondRow1-items-container1 {
  text-align: center;
  background: url("https://i.ibb.co/v1rC91d/our-capabilities-background-leaves.png")
    no-repeat center;
  background-size: contain;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.secondRow1-items-container1-1 {
  background-color: rgb(95, 68, 41, 0);
  border: 4px solid rgba(245, 245, 245, 0.5);
}

.secondRow1-items-container2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
}

.secondRow1-items-cols {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0rem;
}

.secondRow1-title {
  font-size: 2rem;
  padding: 5rem;
}

.secondRow1-subtitle {
  font-size: 1.3rem;
  padding: 1.5rem 0;
  color: rgb(255, 255, 255);
  margin-left: 5rem;
  background: rgb(95, 68, 41, 0.5);
  background: radial-gradient(circle, #5e3214c2 0%, rgba(0, 0, 0, 1) 45%);
}

.thirdRow1 {
  margin-bottom: 10rem;
  margin-top: 2rem;
}

.howWeWork-leftSide {
  padding: 0 1rem;
}
.howWeWork-rightSide {
  background-color: #772f1a;
  background-image: linear-gradient(315deg, #77301ab0 0%, #f2a65ab9 74%);
}

.how-we-work-div {
  width: 100%;
}

.title-col {
  padding: 0rem;
  margin: 0;
}
.howWeWork-Titlespan {
  display: block;
}
.subtitle-col {
  padding: 0rem;
  margin: 0;
}

.thirdRow1-title {
  font-size: 3rem;
  padding: 0.5rem 0rem;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.3rem;
}

.thirdRow1-subtitle {
  color: rgb(95, 68, 41);
  font-size: 1.3rem;
  padding: 0 1rem;
}
.leftSide-button {
  color: white;
  font-size: 1.2rem;
  background-color: #772f1a;
  background-image: linear-gradient(315deg, #77301ab0 0%, #f2a65ab9 74%);
  border: none;
  border-radius: 99999px;
  padding: 1rem 3rem;
  margin-top: 5rem;
}
.leftSide-button:hover {
  opacity: 0.9;
}
.thirdRow1-side-text {
  font-size: 1.4rem;
}

.text-para {
  text-align: center !important;
  padding: 0.8rem;
  font-size: 0.8rem;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.95);
}
ul {
  list-style: none !important;
}

.how-we-work-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.how-we-work-section > ul > li > p {
  text-align: left;
  padding: 1rem;
}

.partner-span {
  color: rgb(95, 68, 41);
}

.text-para {
  text-align: left;
}
.rightSide-image {
  border-radius: 100% !important;
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.349);
}
.rightSide-image2 {
  padding: 1rem;
  box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.349);
}
.fourthRow1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourthRow1-cols {
  background: rgb(95, 68, 41, 0.5);
  background: radial-gradient(circle, #5e31148a 0%, rgba(0, 0, 0, 1) 25%);
  padding: 1rem 0;
}

.fourthRow1-title {
  font-size: 3rem;
  margin-bottom: 3rem;
  padding: 0rem 5rem;
  display: inline-block;
}

.fourthRow1-subtitle {
  color: rgb(95, 68, 41);
  font-size: 1.3rem;
}

.fourthRow1-subtitle-subtitle {
  color: rgb(148, 148, 148);
  font-size: 0.8rem;
}

.organizer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*-------------MEDIA QUERY-------------*/
@media screen and (max-width: 1000px) {
  .about {
    display: block;
  }
  .secondRow1 {
    padding: 2rem 0rem;
    border-bottom: 3px solid rgb(95, 68, 41, 0.5);
  }
  .secondRow1-items-cols {
    padding: 0;
  }
  .secondRow1-subtitle {
    font-size: 0.8rem;
    padding: 0.5rem 0rem;
    color: rgb(255, 255, 255);
    margin: 1rem;
    background: rgb(95, 68, 41, 0.5);
    background: radial-gradient(circle, #5e3214c2 0%, rgba(0, 0, 0, 1) 45%);
  }
  .howWeWork-Titlespan {
    display: inline-flex;
  }
  .howWeWork-leftSide {
    padding: 2rem 1rem;
  }
  .leftSide-button {
    font-size: 1.2rem;
    padding: 1rem 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .howWeWork-rightSide {
    padding: 2rem 0;
  }
  .how-we-work-div {
    padding: 1rem 0;
  }
  .thirdRow1-cols {
    padding: 1.5rem 0;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .fourthRow1 {
    transform: scale(0.9);
    padding: 0 1rem;
  }
}
