@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.contact {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to top, #000000 79%, rgb(95, 68, 41) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.firstRow2 {
    margin-bottom: 4.7rem;
    margin-top: 9rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.firstRow2-cols {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstRow2-text-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.884);
    border-top: 2px solid rgb(95, 68, 41);
    border-bottom: 2px solid rgb(56, 56, 56);
    border-radius: 999999px;
    padding: 0.9rem 10rem;
}

.secondRow2 {
    width: 70%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    padding: 2rem 0;
    flex-direction: column;
    transform: scale(1);
    background-color: #a55c1b;
    background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%);
}

.secondRow2-title {
    font-size: 2rem;
    color: rgb(231, 227, 227);
    padding-bottom: 3rem;
}

.secondRow2-cols {
    padding: 1.5rem 1.5rem;
    margin: 0;
}

.secondRow2-cols-input {
    width: 100%;
}

.secondRow-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondRow2-form-button {
    color: rgb(175, 145, 115) !important;
    border: 1.8px solid rgba(112, 112, 112, 0.8) !important;
    width: 30% !important;
    transition: ease-in-out !important;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
}

.secondRow2-form-button:hover {
    background-color: rgba(236, 191, 146, 0.3) !important;
    color: rgba(255, 255, 255, 0.699) !important;
}

.thirdRow2 {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: center;
    color: rgba(231, 227, 227, 0.89);
    max-width: 40rem;
    padding: 3rem;
    margin-bottom: 9rem;
    border-radius: 99999px;
}

.connecter>h3 {
    padding-bottom: 2.5rem;
    color: #5F4429;
}

/*------------INPUT-ROOT-CSS------------*/
.MuiInputBase-input {
    width: 100% !important;
}

.MuiFormLabel-root {
    color: rgb(175, 145, 115) !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid rgb(226, 172, 118) !important;
}

.MuiInput-underline:before {
    border-bottom: 1px solid rgba(112, 112, 112, 1) !important;
}

.PhoneInputInput {
    font: inherit !important;
    color: currentColor !important;
    width: 100% !important;
    border: 0 !important;
    height: 1.1876em !important;
    margin: 0 !important;
    display: block !important;
    padding: 2rem 0 7px !important;
    min-width: 0 !important;
    background: none !important;
    box-sizing: content-box !important;
    animation-name: mui-auto-fill-cancel !important;
    letter-spacing: inherit !important;
    animation-duration: 10ms !important;
    -webkit-tap-highlight-color: transparent !important;
    border-bottom: 2px solid rgba(112, 112, 112, 1) !important;
}

/*----------------------------------------*/
/*-----------------------------MEDIA QUERY-------------------*/
@media screen and (max-width: 1000px) {
    .contact {
        display: block;
    }

    .secondRow2 {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        padding: 1rem 2.8rem;
    }

    .secondRow2-title {
        font-size: 3rem;
        padding-bottom: 3rem;
    }

    .secondRow2-cols {
        padding: 1rem 0;
        margin: 0;
    }

    .secondRow2-form-button {
        padding: 0.5rem 8rem !important;
    }
}