@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.employment {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.719);
    padding: 0 1rem;
}

.employment-firstRow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    border-top: 2px solid rgb(95, 68, 41);
    border-bottom: 2px solid rgb(56, 56, 56);
    border-radius: 999999px;
    cursor: pointer;
    padding: 5rem 0rem;
}

.firstRow-cols {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cols-title {
    font-size: 5rem;
}

.cols-title-span {
    color: rgba(216, 144, 85, 0.664);
}

.joinOurTeamLink {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.719) !important;
}

@media screen and (max-width: 1000px) {
    .employment {
        padding: 0 3rem;
    }

    .employment-firstRow {
        font-size: 1rem;
        padding: 2rem 0rem;
    }

    .cols-title {
        font-size: 2.5rem;
    }
}