@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.home {
    background: url("https://i.ibb.co/P6VMvXr/home-Background2-1.jpg") no-repeat center;
    background-size: cover;
}

.home-section {
    padding-bottom: 11.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top: 11rem !important;
    color: rgba(255, 255, 255, 0.918);
    font-size: 4rem;
    font-weight: 600;
    padding: 0 1rem;
}

.home-subtitle-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-subtitle {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: rgba(216, 216, 216, 0.904);
    font-size: 1rem;
    max-width: 40rem;
    padding: 0;
}

.aboutLink {
    text-decoration: none !important;
    color: white !important;
}

/*-------------------------------------- HOME SECTION ending------------------------------------------------*/
/*-------------------------------------- MEDIA QUERIES------------------------------------------------*/

@media screen and (max-width: 1000px) {
    .home {
        background: url("https://i.ibb.co/P6VMvXr/home-Background2-1.jpg") no-repeat bottom;
        background-size: cover;
    }

    .home-title {
        padding-top: 5rem !important;
        font-size: 2rem;
    }

    .home-section {
        padding-bottom: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .home-subtitle {
        font-size: 0.8rem !important;
        max-width: 20rem !important;
        padding: 1rem 1.5rem;

    }
}