@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.services-page {
    background: linear-gradient(to top, #000000 34%, rgb(95, 68, 41) 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services-page-title-div {
    padding: 2.5rem 0;
    padding-bottom: 5rem;
}

.services-page-title {
    max-width: 60rem;
    color: rgba(255, 255, 255, 0.884) !important;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    margin-top: 3rem;
    border-top: 2px solid rgb(95, 68, 41);
    border-bottom: 2px solid rgb(56, 56, 56);
    border-radius: 999999px;
    margin-bottom: -8.2rem;
    padding: 2rem 5rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
}

.services-index-cols {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.services-card2 {
    color: white;
    margin-top: 9rem;
    padding: 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.cardTitle2 {
    font-size: 1rem;
    padding: 1rem;

}

.card-button2 {
    background-color: transparent;
    color: white;
    border: none;
}

.card-button2:hover {
    color: rgb(94, 73, 52);
}

.learn-more-a-tag {
    color: white;
    text-decoration: none;
}

.learn-more-a-tag:hover {
    color: rgb(94, 73, 52);
    text-decoration: none;
}

/*---------------MASKS-----------------*/
.index-element-mask1 {
    position: absolute;
    padding: 2rem;
    border-radius: 100%;
    background: rgb(95, 68, 41, 0.3);
    top: 26.5rem;
    left: 16.5rem;
}

.index-element-mask2 {
    position: absolute;
    padding: 2rem;
    border-radius: 100%;
    background: rgb(95, 68, 41, 0.3);
    top: 27rem;
    right: 16.5rem;
}

.index-element-mask3 {
    position: absolute;
    padding: 2rem;
    border-radius: 100%;
    background: rgb(95, 68, 41, 0.3);
    top: 27rem;
    left: 32.5rem;
}

.index-element-mask4 {
    position: absolute;
    padding: 2rem;
    border-radius: 100%;
    background: rgb(95, 68, 41, 0.3);
    top: 27rem;
    right: 32.5rem;
}

/*------------------------------------*/
@media screen and (max-width: 1300px) {

    .index-element-mask1,
    .index-element-mask2,
    .index-element-mask3,
    .index-element-mask4 {
        display: none;
    }
}

@media screen and (max-width: 700px) {

    .firstRow3,
    .secondRow3 {
        transform: scale(0.5);
        padding: -5rem 0;
        margin: -10rem 0;
    }
}