@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&family=Ubuntu&display=swap");

.services {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.925);
  margin-top: -15rem;
  transform: scale(0.85);
}

.rows {
  padding-top: 4.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstRow-cols-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.secondRow-cols {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondRow-cols-para {
  font-size: 1rem;
  max-width: 50rem;
}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none !important;
}

.see-more-span {
  cursor: pointer;
  color: white;
  margin: 1rem 0;
}

.animated {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-card {
  width: 100%;
  height: 25rem;
  background-color: rgb(2, 2, 2);
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease-in;
  margin: 0.9rem 0;
}

.dev-icon {
  color: white;
  font-size: 5.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in;
}

.coffeeIcon {
  font-size: 7.5rem !important;
  margin-bottom: 0.1rem;
}


.card-button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 9999px;
  margin-top: 1.5rem;
  padding: 0.5rem 5rem;
  transition: 0.3s ease-in;
  font-size: 1.4rem;
}

.card-button:hover {
  background-color: rgb(207, 136, 77);
  color: white !important;
}

.services-card:hover {
  background-color: rgb(238, 228, 228);
  transform: scale(1.1);
  color: black;
}

.cardTitle {
  padding: 3rem;
}

/*.cardTitle:hover {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
*/
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

/*-------MEDIA QUERIES------------*/
@media screen and (max-width: 1000px) {
  .services {
    margin-top: 0rem;
    transform: scale(0.9);
    margin-top: 5rem;
  }

  .row {
    padding: 0rem;
  }

  .firstRow-cols-title {
    font-size: 1.5rem;
  }

  .card-button {
    margin-top: 1rem;
    padding: 1rem 3.5rem;
  }

  .cardTitle {
    padding: 0rem;
  }

  .coffeeIcon {
    font-size: 5rem !important;
  }

  .dev-icon {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }

  .services-card {
    width: 100%;
    height: 22rem;
    margin-bottom: 1.5rem;
  }

  .services-card:hover {
    transform: scale(1.05);
  }

  .secondRow-cols-para {
    padding: 1.5rem 2rem;
    font-size: 0.8rem;
  }
}