@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.services-page {
    background: linear-gradient(to top, #000000 44%, rgb(95, 68, 41) 100%);
    font-family: 'Poppins', sans-serif;
}

.services-page-title-div {
    padding-bottom: 5rem;
}

.services-page-content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-page-title {
    max-width: 60rem;
    color: rgba(255, 255, 255, 0.884) !important;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    margin-top: 3rem;
    border-top: 2px solid rgb(95, 68, 41);
    border-bottom: 2px solid rgb(56, 56, 56);
    border-radius: 999999px;
    padding: 2rem 5rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
}

.services-index-cols {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.services-card2 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: rgb(95, 68, 41);
    background: radial-gradient(circle, rgba(95, 68, 41, 0.3) 0%, rgba(0, 0, 0, 1) 47%, rgba(0, 0, 0, 1) 65%);
    border-radius: 100%;
    margin-top: 4rem;
}

.cardTitle2 {
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;

}

.cardTitle2:hover {
    color: rgb(94, 73, 52);
}

.index-icon {
    color: rgba(255, 255, 255, 0.89);
    font-size: 3rem;
}

.coffee-icon {
    font-size: 4.5rem !important;
}

.index-link {
    text-decoration: none !important;
    color: white !important;
}

@media screen and (max-width: 1300px) {

    .index-element-mask1,
    .index-element-mask2,
    .index-element-mask3,
    .index-element-mask4 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .services-page-title-div {
        padding: 0;
    }

    .secondRow3 {
        padding: 0rem 1.5rem;
        padding-top: 2rem;
    }

    .services-card2 {
        padding: 0 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .services-page-title {
        max-width: 60rem;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0rem;
        padding: 1rem 2rem;
        letter-spacing: 0.2rem;
    }

    .cardTitle2 {
        font-size: 0.6rem;
        padding: 0rem;
    }

    .learn-more-a-tag {
        font-size: 0.5rem;
    }

    .index-icon {
        color: rgba(255, 255, 255, 0.89);
        font-size: 2rem;
    }

    .coffee-icon {
        font-size: 3.5rem !important;
    }
}